@import url('./font.css');
@import url('./screenload.css');
@import url('./opening.css');
@import url('./notice.css');
@import url('./social_media.css');
@import url('./contact.css');
@import url('./footer.css');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	outline: none;
	box-sizing: border-box;
    user-select: none;
}

*[class*="icon-"],
*[class*="icon-"]::before,
*[class*="icon-"]::after {
	font-family: 'wanda_academy';
}

:root {
	--fg_color: #404040;
	--black_2: #080808;
	--footer-gray: #999999;
	--waiting_color: darkgray;
	--bg_color: #f8f8f8;
	--wanda_color: #ff1aac;
	--opening-gradient: linear-gradient(0deg, #ff1aac66, #ff1aac99);
	--wanda_gradient_color: linear-gradient(135deg, #ff42af, #ff1a87);
}

html {
	font-size: 2.5vmin;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg_color);
}

img[src$=".svg"] {
	width: 100px;
	height: 100px;
}
